body {
    font-family: "Poppins", sans-serif;
    background: #ffffff;
    color: #000000;
}

/* icon wa */
.btn-floating {
    position: fixed;
    right: 25px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 0;
    z-index: 9999;
    color: rgb(255, 255, 255);
    transition: .2s;
    bottom: 25px;
    background-color: #13aa1b;
}

.btn-floating:hover {
    width: auto;
    padding: 0 20px;
    cursor: pointer;
}

.btn-floating span {
    font-size: 16px;
    margin-left: 5px;
    transition: .2s;
    line-height: 0px;
    display: none;
}

.btn-floating:hover span {
    display: inline-block;
}

.btn-floating:hover img{
    margin-bottom: -3px;
}
/* akhir icon wa */

/* navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-size: 28px;
}

/* jumbotron */
.jumbotron {
    background-image: url(/assets/img/65a7b571-44e2-4722-b1cc-c4536d79f554.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: #fff;
    margin-bottom: 30px;
    margin: auto;
}

/* info panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: #ffffff;
    padding: 30px;
    z-index: 1;
}

.info-panel .img {
   margin-right: 80px;
   margin-bottom: 80px;
}

.info-panel h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 80px;
    color: #000000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.info-panel p {
    font-size: 14px;
    color: #acacac;
    margin-top: -5px;
    font-weight: 200;
}

/* about */
.about {
    margin-top: 120px;
    text-align: center;
}

.about h3 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 18px;
}

.about p {
    font-size: 16px;
    color: #acacac;
    margin: 30px 0;
}

/* utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

/* promosi */
#layanan {
    padding: 100px 0;
}
    
h2 {
    font-size: 38px;
    font-weight: 600;
    color: #ffc107;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
    
.sub-title {
    font-size: 18px;
    color: #acacac;
}
    
.card-layanan {
    width: 100%;
    height: 313px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transition: all .2s ease-in;
}
    
.circle-icon {
    width: 70px;
    height: 70px;
    background-color: #ffc107;
    border-radius: 50%;
    transition: all .1s ease-in;
}
    
.card-layanan h3 {
    color: rgb(0, 0, 0);
    font-size: 24px;
    transition: all .2s ease-in;
    font-weight: 600;
}
    
.card-layanan p {
    color: #acacac;
    font-size: 14px;
    transition: all .3s ease-in;
}
    

.card-layanan:hover .circle-icon {
    background-color: white;
    transition: all .2s ease-in;
}
    
.card-layanan:hover {
    width: 100%;
    height: 313px;
    border-radius: 5px;
    background: linear-gradient(160deg, rgb(0, 0, 0), rgb(255, 184, 6));
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transition: all .2s ease-in;
}
    
.circle-icon:hover {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    transition: all .2s ease-in;
}
    
.card-layanan:hover h3 {
    color: white;
    font-size: 24px;
    transition: all .2s ease-in;
}
    
.card-layanan:hover p {
    color: white;
    font-size: 14px;
    transition: all .2s ease-in;
}

.card {
    background-color: #ffffff;

}

.course .box{
    padding: 10px 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.course .box img{
    padding: 10px 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.card-body p {
    color: #acacac;
}



.header {
    padding: 60px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    background-image: url(/assets/img/C74xBRdVwAAH3Ky.jpg) ,linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  h1 {
    margin: 0;
  }
  
  .header-button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
  }

  
  
  
  
  
  

footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-container p {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }




    

/* DESKTOP */
@media (min-width: 992px) { 
    .navbar-brand, .nav-link {
        color: #fff !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #ffc107;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px;
        height: 640px;
    }

    .about {
        text-align: left;
    }
 }
